#about {
  min-height: 100vh;
  padding: 100px 100px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  background: linear-gradient(180deg, #f8faf9, #d0e0e3, #a2c4c9);
}
#about section {
  padding: 25px 15px;
  flex: 1 auto;
}
.about-tech {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#about p {
  font-size: 1.1em;
  line-height: 35px;
}
/*==========Media Queries==========*/
@media screen and (min-width: 1240px){}
@media screen and (min-width: 945px) and (max-width: 1240px){
  #about {
    flex-flow: column;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 450px) and (max-width: 945px){
  #about {
    padding: 20px 50px 50px 50px;
    flex-flow: column;
    justify-content: flex-start;
  }
  #about section {
    flex: 1 50%;
  }
}
@media only screen and (max-width: 450px) {
  #about {
    background: linear-gradient(180deg, #e5e5e5, #d0e0e3, #a2c4c9); 
    padding: 20px 50px 50px 50px;
    flex-flow: column;
    justify-content: flex-start;
  }
  #about section {
    flex: 1 100%;
  }
}
