#contact {
  min-height: 50vh;
  padding: 100px 100px;
  background: #f8faf9;
}
form {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}
input {
	width: 50%;
	height: 25px;
}
textarea {
	height: 100px;
	width: 50%;
}
button {
	height: 35px;
	width: 150px;
}
/*==========Media Queries==========*/
@media screen and (min-width: 1240px){}
@media screen and (min-width: 945px) and (max-width: 1240px){}
@media screen and (min-width: 450px) and (max-width: 945px){
	input {
		width: 75%;
	}
	textarea {
		height: 100px;
		width: 75%;
	}
}
@media only screen and (max-width: 450px) {
	#contact {
		min-height: 50vh;
		padding: 100px 50px;
	}
	input {
		width: 100%;
	}
	textarea {
		height: 100px;
		width: 100%;
	}
}