footer {
  grid-area: footer;
  padding: 0 2em;
  background: #f8faf9;
}
footer p {
	font-weight: 600;
}
aside ul {
  position: fixed;
  right: 0px;
  bottom: 0px;
	height: 150px;
  width: 45px;
	padding: 0px 0px;
}
/*==========Media Queries==========*/
@media screen and (min-width: 1240px){}
@media screen and (min-width: 945px) and (max-width: 1240px){
  footer {
    padding: 20px 75px;
  }  
}
@media screen and (min-width: 450px) and (max-width: 945px){
  footer {
    padding: 20px 50px;
  }  
}
@media only screen and (max-width: 450px) {
	footer {
		padding: 20px 25px;
   	}
}
