html {
  box-sizing: border-box;
}
*, *::before *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 100px;
  grid-template-areas:
    'main'
    'footer'
  ;
}
main {
  height: 100%;
}
