html, div {
  box-sizing: border-box;
}
*, *::before *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #ffffff, #fbfdfc, #f9fbfa); 
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 100px;
  grid-template-areas:
    'main'
    'footer'
  ;
}
main {
  height: 100%;
}
p, li {
  font-family: 'Lato', sans-serif;
    line-height: 1.4;
}
hr {
  border-width: 0.5px;
  border-color: #a2c4c9;
}