#projects {
  min-height: 100vh;
  padding: 100px 100px;
  background: linear-gradient(180deg, #a2c4c9, #a2c4c9, #f8faf9); 
}
.projects {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}
.projects h2 {
	margin: 0 auto;
}
.project-tile {	
	height: 350px;
	width: 275px;
	background: #f8faf9;
	margin: 10px 10px;
	flex: 1 auto;
  display: flex;
  flex-flow: column;
}
.project-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: black;
}
.project-tile .project-image {
  margin: 0px 0px;
  padding: 0px 0px;
  width: 100%;
  height: 100px;
}
.project-tile div {
  padding: 20px 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.project-tile:hover {
	transform: scale(1.03);
}
#projects a {
  text-decoration: none;
  color: #000;
  text-shadow: none;
}

/*==========Media Queries==========*/
@media screen and (min-width: 1240px){}
@media screen and (min-width: 945px) and (max-width: 1240px){
  #projects {
    padding: 20px 75px;
  }  
}
@media screen and (min-width: 450px) and (max-width: 945px){
  #projects {
    padding: 20px 50px 50px 50px;
  }  
  #project-tile {
  	flex: 1 50%;
  }
}
@media only screen and (max-width: 450px) {
	#projects {
		padding: 20px 50px 50px 50px;
   	}
}
